.subtotal{
    color: white;
    background: #000;
    animation:  color-change 10s ease-in-out infinite;
    border-radius: 5%;
    max-width: 20%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 45%;
}
.quantity{
    font-size: large;
    color: white;
}
@keyframes color-change{
    0%{
        background: #000;
        color: white;
    }
    16%{
        background:#0079C4;
    }
    32%{
        background:#FAAC86;
    }
    48%{
        background:#E61F34;
    }
    64%{
        background:#C71A2E;
    }
    80%{
        background: #FFD63E;
        color: black;
    }
    100%{
        background: #FFD53B;
        color: black;
    }
}